# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate

# macOS
.DS_Store
*.swp
*~
Ignition-*.dmg
